@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');

.homepage {
    height: 100vh;
    font-weight: 100vw;
    background: linear-gradient(122.19deg, grey 1.89%, pink 113.56%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.add-task-input {
    position: absolute;
    top: 20px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 25px;
    padding: 5px 20px;
}

.add-icon {
    position: absolute;
    transform: scale(2);
    top: 27px;
    right: 540px;
    cursor: pointer;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.todo h1 {
    width: 500px;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
}

.High-line {
    border-bottom: 4px solid red;
    width: 100%;
    margin-top: -1.4vh;  
}

.Medium-line {
    border-bottom: 4px solid orange;
    width: 100%;
    margin-top: -1.5vh;
   
} 

.Low-line {
    border-bottom: 4px solid green;
    width: 100%;
    margin-top: -1.4vh;
} 



.delete-button {
    width: 150px;
    padding: 13px;
    font-size: 18px;
    background: linear-gradient(122.19deg, grey 1.89%,pink 113.56%);
    color: #ffffff;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: linear-gradient(122.19deg, grey 1.89%, pink 113.56%);
    color: #ffffff;
}

.select {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: white;
    border: none;
    transform: scale(2);
    top: 30px;
    right: 620px;
    
}
.cont{
    margin-top: 1.5vh;
}